<!--The content below is only a placeholder and can be replaced.-->
<div class="bgtop bgcover bgcenter w-100 mw-100 mb-3" style="background-image:url('https://picsum.photos/id/111/1600/500');background-color:#453A48;background-blend-mode:difference;">
  <div class="container h-100">
    <div class="row mx-auto d-flex align-items-center h-100">
      <h1 class="text-center mx-auto text-white">Ici, on va parler de {{ title }}!</h1>
    </div>
  </div>
</div>
<div class="container my-5 pt-5">
  <div class="row">
    <h2 class="text-uppercase mx-auto mb-3 py-2 px-5 bg-white rounded-pill boxshadow">Top 3</h2>
    <ul class="container list-group p-0 boxshadow">
     <app-postlist></app-postlist>
    </ul>
  </div>
</div>


<router-outlet></router-outlet>
